* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;


}

a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    background-color: #3172b9;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 20px 35px;
    font-style: 12px;
    line-height: 1;
    cursor: pointer;
}

.text-center {
    text-align: center;
}
 

/* header */

.header {
    height: 110px;
    
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-btn {
    margin-left: 80px;
}

.logo {
    margin-right: auto;
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
    
}


/* hero */

.hero-container {
    padding-top: 120px;
    padding-bottom: 130px;
}

.hero-content {
    max-width: 50%;
}

.section-hero-heading {
    margin-bottom: 25px;
}

.section-hero-description {
    margin-bottom: 35px;
}

.section-hero-btn-description {
    margin-top: 15px;
}


/* what we do */

.section-do {
    padding-top: 220px;
    padding-bottom: 200px;
}

.section-description {
    margin-bottom: 30px;
}

.section-do-list {
    display: flex;
    margin-bottom: 50px;

}

.section-do-item {
    flex: 1 1 25%;
    outline: 3px solid blue;

}

.section-do-item:not(:last-child) {
    margin-right: 30px;
}


/* clients */

.section-clients {
    padding-top: 95px;
    padding-bottom: 160px;
} 

.section-heading {
    margin-bottom: 40px;
}

.section-clients-list {
    display: flex;
}

.section-clients-item {
    flex: 1 1 33.33;
    outline: 3px solid blue;
    padding: 30px;
}

.section-clients-item:not(:last-child) {
    margin-right: 30px;
}
.section-clients-user {
    display: flex;
    align-items: center;
}

.section-clients-avatar {
    margin-right: 15px;
    max-width: 60px;
    border: 2px solid #86acd6;
    border-radius: 50%;
} 

.section-clients-username {
    margin-bottom: 10px;
}